<% if @offer.errors.any? %>
  <div class="alert alert-danger">
    The form contains <%= pluralize(@offer.errors.count, "error") %>.
    <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>