<!DOCTYPE html>
<html>
  <head>
    <title>DemoRailsElasticsearch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="/offers">Offers</a></li>
        <li><a href="/customers">Customers</a></li>
        <li><a href="/companies">Companies</a></li>
      </ul>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
